{{#partial "links"}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.3/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
{{/partial }}
{{#partial "content"}}
    <div class="fit">
        <div class="container-fluid text-center">
            <h1>Welcome to Hero-Squad </h1>
            <p>Where we assemble your heroes squad </p><br>
            <a href="/squads/new"><button type="button" class="btn btn-outline-light waves-effect">Add A Squad <i class="fas fa-mask"></i></button></a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}